{% extends "base.html" %}

{% block announce %}
    {% if config.theme.language != 'en' %}
            <span class="twemoji">{% include ".icons/material/alert.svg" %}</span><b> English is the original documentation language.</b> We can't guarantee information consistency across languages.
        {% else %}
            <span class="twemoji">{% include ".icons/material/bullhorn.svg" %}</span><b> Want to translate our documentation?</b> <a href="https://github.com/Atlas-OS/docs">Visit our GitHub repository</a>.
    {% endif %}
{% endblock %}