{% extends "base.html" %}

{% block announce %}
    {% if config.theme.language != 'en' %}
            <span class="twemoji" style="color: #fbbf24;">{% include ".icons/material/alert.svg" %}</span><b> English is the original documentation language.</b> We can't guarantee information consistency across languages.
        {% else %}
            <span class="twemoji" style="color: #38bdf8;">{% include ".icons/material/earth.svg" %}</span><b> Want to translate our documentation?</b> <a href="https://github.com/Atlas-OS/docs">Read our translation guide</a>.
    {% endif %}
{% endblock %}