<div class="header-gradient"></div>

<!-- Plausible -->
<script defer data-domain="docs.atlasos.net" src="https://pla.atlasos.net/js/script.outbound-links.file-downloads.js"></script>
<!-- Microsoft Clarity -->
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "gzsl8c0hf7");
</script>
<!-- Kapa -->
<script defer
src="https://widget.kapa.ai/kapa-widget.bundle.js"
data-website-id="95d8dc11-e509-42cb-a7ee-f7e06df52017"
data-project-name="Atlas"
data-project-color="#2894F3"
data-project-logo="https://avatars.githubusercontent.com/u/78708182?s=280&v=4"
></script>
