site_name: Atlas Documentation
site_url: https://docs.atlasos.net

# https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository
repo_url: https://github.com/Atlas-OS/Atlas
repo_name: Atlas Playbook
edit_uri: https://github.com/Atlas-OS/docs/edit/main/docs

# https://squidfunk.github.io/mkdocs-material/setup/ensuring-data-privacy/#change-cookie-settings
copyright: >
  Licensed under <span class="twemoji"><img style="filter: invert(0.8)" src="/assets/creative-commons.svg"></span>
  <a href="https://github.com/Atlas-OS/docs/blob/main/LICENSE">CC-BY-SA-4.0</a>.  Some resources on this site may have different licensing terms.
  <br>AtlasOS is not affiliated with Microsoft.
#  <a href="#__consent">Change cookie settings</a>


#
# Navigation
# https://www.mkdocs.org/user-guide/configuration/#nav
#
nav:
  - Home:
    - Home: index.md
    - Branding Kit: branding.md

  - Getting Started:
    - Getting Started: getting-started/index.md
    - Install: 
      - Before Continuing: getting-started/install/before-continuing.md
      - Install with Playbook: getting-started/install/install-playbook.md
      - Install with ISO Injection: getting-started/install/install-iso-injection.md
      - Setting up Atlas: getting-started/install/setting-up.md
    - Upgrade:
      - Before Continuing: getting-started/upgrade/before-continuing.md
      - Upgrade with Playbook: getting-started/upgrade/upgrade-playbook.md
  
  - Post Install:
    - Post Install: post-install/index.md

    - Toolbox: 
      - Toolbox: post-install/toolbox/index.md

    - Drivers:
      - Drivers: post-install/drivers/index.md
      - Intel Drivers: post-install/drivers/intel.md
      - AMD Drivers: post-install/drivers/amd.md
      - NVIDIA Drivers: post-install/drivers/nvidia.md
      - Chipset Drivers: post-install/drivers/chipset.md
      - Other Drivers: post-install/drivers/others.md

    - Hardware:
      - Hardware: post-install/hardware/index.md
      - Enabling XMP or DOCP: post-install/hardware/enabling-xmp-or-docp.md
      - Resizable BAR: post-install/hardware/resizable-bar.md
      - Updating BIOS/UEFI: post-install/hardware/updating-the-bios.md

    - Software:
      - Software: post-install/software/index.md
      - Anti-virus: post-install/software/anti-virus.md
      - Image Viewer: post-install/software/image-viewer.md
      - Media Playback: post-install/software/media-playback.md
      - Screenshotting: post-install/software/screenshotting.md
      - System Info: post-install/software/system-info.md
      - Text Editors: post-install/software/text-editors.md
      - Web Browsers: post-install/software/web-browsers.md

    - Atlas Folder:
      - Atlas Folder: post-install/atlas-folder/index.md
      - Advanced Configuration: post-install/atlas-folder/advanced-configuration.md
      - Configuration: post-install/atlas-folder/configuration.md
      - Optional Tweaks: post-install/atlas-folder/optional-tweaks.md
      - Security: post-install/atlas-folder/security.md
      - Windows Settings: post-install/atlas-folder/windows-settings.md

  - FAQ:
    - FAQ: faq/index.md

    - General:
      - Atlas and Security: faq/general-faq/atlas-and-security.md
      - Atlas Folder Missing: faq/general-faq/atlas-folder-missing.md
      - Bluetooth Compatibility: faq/general-faq/bluetooth-compatibility.md
      - Checking Atlas Version: faq/general-faq/checking-atlas-version.md
      - Enabling TPM: faq/general-faq/enabling-tpm.md
      - FIFA and EAFC Not Launching: faq/general-faq/fifa-and-eafc-not-launching.md
      - Game URL Files: faq/general-faq/game-url-files.md
      - Installation Data Loss: faq/general-faq/installation-data-loss.md
      - iTunes Compatibility: faq/general-faq/itunes-compatibility.md
      - Media Pack Not Found: faq/general-faq/media-pack-not-found.md
      - Microsoft Account Usage: faq/general-faq/microsoft-account-usage.md
      - Microsoft Store: faq/general-faq/microsoft-store.md
      - Resetting Atlas: faq/general-faq/resetting-atlas.md
      - Roblox Not Launching: faq/general-faq/roblox-not-launching.md
      - Testing Nightly Builds: faq/general-faq/testing-nightly-builds.md
      - Updating Atlas: faq/general-faq/updating-atlas.md
      - Upgrading Windows Version: faq/general-faq/upgrading-windows-version.md
      - Verify ISO Integrity: faq/general-faq/verify-iso-integrity.md
      - Windows 10 vs 11: faq/general-faq/windows-10-vs-11.md
      - Windows Update Errors: faq/general-faq/windows-update-errors.md

    - Install: 
      - AME Wizard Errors: 
        - AME Wizard Deleted: faq/install-faq/ame-wizard-errors/ame-wizard-deleted.md
        - Atlas Playbook Stuck: faq/install-faq/ame-wizard-errors/atlas-playbook-stuck.md
        - Build Not Supported: faq/install-faq/ame-wizard-errors/build-not-supported.md
        - Can't Disable Defender: faq/install-faq/ame-wizard-errors/cant-disable-defender.md
      - Atlas ISO files: faq/install-faq/atlas-iso-files.md
      - Decrypting Using BitLocker: faq/install-faq/decrypting-using-bitlocker.md
      - Removed Features: faq/install-faq/removed-features.md
      - Who is Atlas for?: faq/install-faq/who-is-atlas-for.md
      - Windows Home: faq/install-faq/windows-home.md
      - Windows Version Support: faq/install-faq/windows-version-support.md
      - Reverting Atlas: faq/install-faq/reverting-atlas.md



  - Contributing:
    - Contribution Guidelines: contributing/index.md
    - Documentation: contributing/documentation.md
    - Playbook: contributing/playbook.md
    - Toolbox: contributing/toolbox.md
    
    - Testing:
      - What to test: contributing/testing/what-to-test.md
      - Reporting issues: contributing/testing/reporting-issues.md

#
# Theme Settings
#
theme:
  # https://squidfunk.github.io/mkdocs-material/customization/#setup-and-theme-structure
  name: material
  custom_dir: overrides

  features:
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#setting-up-navigation
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.path
    - navigation.indexes
    - navigation.top
    - navigation.tabs
    - navigation.sections
    - navigation.tracking
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#navigation-pruning
    - navigation.prune
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#table-of-contents
    - toc.follow
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-search/#search-suggestions
    - search.suggest
    - search.highlight
    # https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#code-actions
    - content.action.edit
    - content.action.view
    # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/#configuration
    - content.code.copy
    - content.code.select
    - content.code.annotate

  # https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors
  palette:
    - scheme: slate
      primary: blue
      accent: light blue
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: default
      primary: blue
      accent: light blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

  # https://squidfunk.github.io/mkdocs-material/setup/changing-the-fonts
  font:
    text: Inter
    code: Chivo Mono

  # https://squidfunk.github.io/mkdocs-material/setup/changing-the-language
  language: en

  # https://squidfunk.github.io/mkdocs-material/setup/changing-the-logo-and-icons
  logo: assets/brand/icon.svg
  favicon: assets/brand/icon.png

  # https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#code-actions
  icon:
    edit: material/file-edit
    view: material/file-eye
    repo: fontawesome/brands/github-alt


#
# Extra Settings
#
extra_javascript:
  - javascript/msdl.v1.js
  - javascript/init_kapa_widget.v2.js


extra_css:
  - stylesheets/msdl.v2.css
  - stylesheets/theme.v3.css


extra:
  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-the-footer/#generator-notice
  generator: false

  # https://mkdocs-macros-plugin.readthedocs.io/en/stable/pages/#1-variable
  atlas:
    release: 0.5.0
  msdl:
    win11: 
      version: 25H2
      architecture: x86_64
      pid: 3262
    win11arm: 
      version: 25H2
      architecture: ARM64
      pid: 3265
    win10: 
      version: 22H2
      architecture: x86_64
      pid: 2618

  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-analytics/#configuration
  analytics:
    provider: custom
  #  feedback:
  #    title: Was page this helpful?
  #    ratings:
  #      - icon: material/emoticon-happy
  #        name: This page was helpful
  #        data: 1
  #        note: >-
  #          Thank you for your feedback!
  #      - icon: material/emoticon-confused
  #        name: This page could be improved
  #        data: 0
  #        note: >-
  #          Thank you for your feedback! Help us improve by
  #          <a href="https://github.com/Atlas-OS/docs/issues/new/?title=[Feedback]+{title}+-+{url}" target="_blank" rel="noopener">submitting your feedback</a>.

  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-the-footer/#social-links
  social:
    - icon: material/earth
      link: https://atlasos.net
      name: AtlasOS Website
    - icon: fontawesome/brands/discord
      link: https://discord.com/invite/atlasos
      name: AtlasOS on Discord
    - icon: fontawesome/brands/github
      link: https://github.com/Atlas-OS
      name: AtlasOS on GitHub
    - icon: simple/x
      link: https://x.com/AtlasOS
      name: AtlasOS on X


#
# Plugins
#
plugins:
  # https://squidfunk.github.io/mkdocs-material/reference/#built-in-typeset-plugin (Insiders)
  typeset:

  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-search
  search:
      lang: en
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
  macros:
      on_error_fail: true
      include_dir: includes


#
# Folders to refresh on
#
watch:
  - includes


#
# Python Markdown
# https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown
# https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions
#
markdown_extensions:
  # https://squidfunk.github.io/mkdocs-material/reference/admonitions
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.superfences

  # https://squidfunk.github.io/mkdocs-material/reference/annotations
  - abbr
  - attr_list
  - md_in_html

  # https://squidfunk.github.io/mkdocs-material/reference/formatting
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/#inlinehilite
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite

  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/#snippets
  - pymdownx.snippets:
      auto_append:
        - abbreviations.md
      base_path: ['./docs/getting-started/', './docs/contributing/', 'includes']

  # https://squidfunk.github.io/mkdocs-material/reference/content-tabs
  - pymdownx.tabbed:
      alternate_style: true

  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/#superfences
  - pymdownx.superfences

  # https://squidfunk.github.io/mkdocs-material/reference/icons-emojis
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons

  # https://squidfunk.github.io/mkdocs-material/reference/lists
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
