site_name: Atlas Documentation
site_url: https://docs.atlasos.net

# https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository
repo_url: https://github.com/Atlas-OS/docs
repo_name: Atlas-OS/docs
edit_uri: edit/master/docs/

# https://squidfunk.github.io/mkdocs-material/setup/ensuring-data-privacy/#change-cookie-settings
copyright: >
  <span class="twemoji"><img style="filter: invert(0.8)" src="https://raw.githubusercontent.com/squidfunk/mkdocs-material/master/material/templates/.icons/material/creative-commons.svg"></span> <a href="https://github.com/Atlas-OS/docs/blob/master/LICENSE">CC-BY-SA-4.0</a>
  <br>AtlasOS is not affiliated with Microsoft.
#  <a href="#__consent">Change cookie settings</a>


#
# Navigation
# https://www.mkdocs.org/user-guide/configuration/#nav
#
nav:
  - Home:
    - Home: index.md
    - Contribution Guidelines: contributions.md
    - Branding Kit: branding.md

  - Getting Started:
    - Installation: getting-started/installation.md
    - Post Installation:
      - Drivers:
        - Getting Started: getting-started/post-installation/drivers/getting-started.md
        - NVIDIA: getting-started/post-installation/drivers/nvidia.md
        - AMD: getting-started/post-installation/drivers/amd.md
        - Intel: getting-started/post-installation/drivers/intel.md
        - Chipset: getting-started/post-installation/drivers/chipset.md
        - Others: getting-started/post-installation/drivers/others.md
      - Software:
        - Getting Started: getting-started/post-installation/software/getting-started.md
        - Web Browsers: getting-started/post-installation/software/web-browsers.md
        - Media: getting-started/post-installation/software/media-playback.md
        - Screenshotting: getting-started/post-installation/software/screenshotting.md
        - System Info: getting-started/post-installation/software/system-info.md
        - Text Editors & IDEs: getting-started/post-installation/software/text-editors.md
      - Hardware:
        - Updating the BIOS: getting-started/post-installation/hardware/updating-the-bios.md
        - XMP/DOCP: getting-started/post-installation/hardware/enabling-xmp-or-docp.md
        - Resizable BAR: getting-started/post-installation/hardware/resizable-bar.md
    - Atlas Configuration:
      - General Configuration: getting-started/post-installation/atlas-folder/general-configuration.md
      - Interface Tweaks: getting-started/post-installation/atlas-folder/interface-tweaks.md
      - Windows Settings: getting-started/post-installation/atlas-folder/windows-settings.md
      - Advanced Configuration: getting-started/post-installation/atlas-folder/advanced-configuration.md
      - Security: getting-started/post-installation/atlas-folder/security.md
      - Troubleshooting: getting-started/post-installation/atlas-folder/troubleshooting.md

  - FAQ & Troubleshooting:
    - What's removed?: faq-and-troubleshooting/removed-features.md
    - Who is Atlas for?: faq-and-troubleshooting/who-is-atlas-for.md
    - Common Questions:
      - Acrobat not installing: faq-and-troubleshooting/common-questions/acrobat-not-installing.md
      - AME Wizard Deleted: faq-and-troubleshooting/common-questions/ame-wizard-deleted.md
      - Atlas and Security: faq-and-troubleshooting/common-questions/atlas-and-security.md
      - Atlas Folder Missing: faq-and-troubleshooting/common-questions/atlas-folder-missing.md
      - Atlas ISO files: faq-and-troubleshooting/common-questions/atlas-iso-files.md
      - Bluetooth Compatibility: faq-and-troubleshooting/common-questions/bluetooth-compatibility.md
      - Build Not Supported: faq-and-troubleshooting/common-questions/build-not-supported.md
      - Decrypting using BitLocker: faq-and-troubleshooting/common-questions/decryptying-using-bitlocker.md
      - iTunes Compatibility: faq-and-troubleshooting/common-questions/itunes-compatibility.md
      - Microsoft Store: faq-and-troubleshooting/common-questions/microsoft-store.md
      - Recommended Antiviruses: faq-and-troubleshooting/common-questions/recommended-antiviruses.md
      - Reverting Atlas: faq-and-troubleshooting/common-questions/reverting-atlas.md
      - Roblox not opening: faq-and-troubleshooting/common-questions/roblox-not-opening.md
      - Testing Nightly Builds: faq-and-troubleshooting/common-questions/testing-nightly-builds.md
      - Updating Atlas: faq-and-troubleshooting/common-questions/updating-atlas.md
      - Windows Editions: faq-and-troubleshooting/common-questions/windows-editions.md
      - Windows Update Errors: faq-and-troubleshooting/common-questions/windows-update-errors.md


#
# Theme Settings
#
theme:
  # https://squidfunk.github.io/mkdocs-material/customization/#setup-and-theme-structure
  name: material
  custom_dir: overrides

  features:
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#setting-up-navigation
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.path
    - navigation.indexes
    - navigation.top
    - navigation.tabs
    - navigation.sections
    - navigation.tracking
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#navigation-pruning
    - navigation.prune
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#table-of-contents
    - toc.follow
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-search/#search-suggestions
    - search.suggest
    - search.highlight
    # https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#code-actions
    - content.action.edit
    - content.action.view
    # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/#configuration
    - content.code.copy
    - content.code.select
    - content.code.annotate

  # https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors
  palette:
    - scheme: slate
      primary: blue
      accent: light blue
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: default
      primary: blue
      accent: light blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

  # https://squidfunk.github.io/mkdocs-material/setup/changing-the-fonts
  font:
    text: Inter
    code: Chivo Mono

  # https://squidfunk.github.io/mkdocs-material/setup/changing-the-language
  language: en

  # https://squidfunk.github.io/mkdocs-material/setup/changing-the-logo-and-icons
  logo: assets/brand/icon.svg
  favicon: assets/brand/icon.png

  # https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#code-actions
  icon:
    edit: material/file-edit
    view: material/file-eye


#
# Extra Settings
#
extra_javascript:
  - javascript/msdl.v1.js
  - javascript/init_kapa_widget.v1.js


extra_css:
  - stylesheets/msdl.v2.css
  - stylesheets/theme.v3.css


extra:
  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-the-footer/#generator-notice
  generator: false

  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-analytics/#configuration
  analytics:
    provider: custom
  #  feedback:
  #    title: Was page this helpful?
  #    ratings:
  #      - icon: material/emoticon-happy
  #        name: This page was helpful
  #        data: 1
  #        note: >-
  #          Thank you for your feedback!
  #      - icon: material/emoticon-confused
  #        name: This page could be improved
  #        data: 0
  #        note: >-
  #          Thank you for your feedback! Help us improve by
  #          <a href="https://github.com/Atlas-OS/docs/issues/new/?title=[Feedback]+{title}+-+{url}" target="_blank" rel="noopener">submitting your feedback</a>.

  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-the-footer/#social-links
  social:
    - icon: material/earth
      link: https://atlasos.net
      name: AtlasOS Website
    - icon: material/forum
      link: https://forum.atlasos.net
      name: AtlasOS Forums
    - icon: fontawesome/brands/discord
      link: https://discord.atlasos.net
      name: AtlasOS on Discord
    - icon: fontawesome/brands/github
      link: https://github.com/Atlas-OS
      name: AtlasOS on GitHub
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/AtlasOS
      name: AtlasOS on Twitter


#
# Plugins
#
plugins:
  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-search
  - search:
      lang: en
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'


#
# Python Markdown
# https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown
# https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions
#
markdown_extensions:
  # https://squidfunk.github.io/mkdocs-material/reference/admonitions
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.superfences

  # https://squidfunk.github.io/mkdocs-material/reference/annotations
  - abbr
  - attr_list
  - md_in_html

  # https://squidfunk.github.io/mkdocs-material/reference/formatting
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/#inlinehilite
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite

  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/#snippets
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md

  # https://squidfunk.github.io/mkdocs-material/reference/content-tabs
  - pymdownx.tabbed:
      alternate_style: true

  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/#superfences
  - pymdownx.superfences

  # https://squidfunk.github.io/mkdocs-material/reference/icons-emojis
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons

  # https://squidfunk.github.io/mkdocs-material/reference/lists
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
