site_name: Atlas Documentation
site_url: https://docs.atlasos.net

# https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository
repo_url: https://github.com/Atlas-OS/docs
repo_name: Atlas-OS/docs
edit_uri: edit/master/docs/

# https://squidfunk.github.io/mkdocs-material/setup/ensuring-data-privacy/#change-cookie-settings
copyright: >
  Copyright &copy; 2023 AtlasOS
  <br>AtlasOS is not affiliated with Microsoft.
#  <a href="#__consent">Change cookie settings</a>


#
# Theme Settings
#
theme:
  # https://squidfunk.github.io/mkdocs-material/customization/#setup-and-theme-structure
  name: material
  custom_dir: overrides

  features:
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#setting-up-navigation
    - navigation.instant
    - navigation.path
    - navigation.prune
    - navigation.indexes
    - navigation.top
    - navigation.tabs
    - navigation.sections
    - navigation.tracking
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#navigation-pruning
    - navigation.prune
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#table-of-contents
    - toc.follow
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-search/#search-suggestions
    - search.suggest
    - search.highlight
    - search.share
    # https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#code-actions
    - content.action.edit
    - content.action.view
    # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/#configuration
    - content.code.copy
    - content.code.select
    - content.code.annotate

  # https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: light blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: light blue
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

  # https://squidfunk.github.io/mkdocs-material/setup/changing-the-fonts
  font:
    text: Archivo
    code: Chivo Mono

  # https://squidfunk.github.io/mkdocs-material/setup/changing-the-language
  language: en

  # https://squidfunk.github.io/mkdocs-material/setup/changing-the-logo-and-icons
  logo: assets/brand/icon.svg
  favicon: assets/brand/icon.png

  # https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#code-actions
  icon:
    edit: material/file-edit
    view: material/file-eye


#
# Extra Settings
#
extra_javascript:
  - javascripts/msdl.js


extra_css:
  - stylesheets/msdl.css


extra:
  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-the-footer/#generator-notice
  generator: false

  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-analytics/#configuration
  analytics:
    provider: custom
  #  feedback:
  #    title: Was page this helpful?
  #    ratings:
  #      - icon: material/emoticon-happy
  #        name: This page was helpful
  #        data: 1
  #        note: >-
  #          Thank you for your feedback!
  #      - icon: material/emoticon-confused
  #        name: This page could be improved
  #        data: 0
  #        note: >-
  #          Thank you for your feedback! Help us improve by
  #          <a href="https://github.com/Atlas-OS/docs/issues/new/?title=[Feedback]+{title}+-+{url}" target="_blank" rel="noopener">submitting your feedback</a>.

  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-the-footer/#social-links
  social:
    - icon: material/earth
      link: https://atlasos.net
      name: AtlasOS Website
    - icon: material/forum
      link: https://forum.atlasos.net
      name: AtlasOS Forums
    - icon: fontawesome/brands/discord
      link: https://discord.atlasos.net
      name: AtlasOS on Discord
    - icon: fontawesome/brands/github
      link: https://github.com/Atlas-OS
      name: AtlasOS on GitHub
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/AtlasOS
      name: AtlasOS on Twitter


#
# Navigation
# https://www.mkdocs.org/user-guide/configuration/#nav
#
nav:
  - Home:
    - Home: index.md
    - Contribution Guidelines: contributions.md
    - Branding Kit: branding.md
  - Getting Started:
    - Installation: getting-started/installation.md
    - Post Installation:
      - Atlas folder:
        - Configuration: getting-started/post-installation/atlas-folder/configuration.md
        - Advanced Configuration: getting-started/post-installation/atlas-folder/advanced-configuration.md
        - Optional Tweaks: getting-started/post-installation/atlas-folder/optional-tweaks.md
        - Windows Settings: getting-started/post-installation/atlas-folder/windows-settings.md
        - Security: getting-started/post-installation/atlas-folder/security.md
      - Drivers:
        - Getting Started: getting-started/post-installation/drivers/getting-started.md
        - Graphics:
          - NVIDIA: getting-started/post-installation/drivers/gpu/nvidia.md
          - AMD: getting-started/post-installation/drivers/gpu/amd.md
          - Intel: getting-started/post-installation/drivers/gpu/intel.md
        - Others: getting-started/post-installation/drivers/others.md
      - Software:
        - Index: getting-started/post-installation/software/index.md
        - Web Browsers: getting-started/post-installation/software/web-browsers.md
        - Media: getting-started/post-installation/software/media.md
        - Screenshotting: getting-started/post-installation/software/screenshotting.md
        - System Info: getting-started/post-installation/software/system-info.md
        - Text Editors & IDEs: getting-started/post-installation/software/text-editors.md
  - FAQ & Troubleshooting:
    - What's removed?: faq-and-troubleshooting/removed-features.md
    - Who is Atlas for?: faq-and-troubleshooting/who-is-atlas-for.md
    - Atlas folder scripts: faq-and-troubleshooting/atlas-folder-scripts.md
    - Atlas & Security: faq-and-troubleshooting/atlas-and-security.md
    - Updating Atlas: faq-and-troubleshooting/updating-atlas.md
    - Testing nightly builds: faq-and-troubleshooting/testing-nightly-builds.md
    - Common Questions:
      - Atlas folder missing: faq-and-troubleshooting/common-questions/atlas-folder-missing.md
      - Adobe Acrobat compatibility: faq-and-troubleshooting/common-questions/adobe-acrobat.md
      - iTunes compatibility: faq-and-troubleshooting/common-questions/itunes-compatibility.md
      - Atlas ISO files: faq-and-troubleshooting/common-questions/atlas-iso-files.md
      - Reverting Atlas: faq-and-troubleshooting/common-questions/reverting-atlas.md
      - Decrypting using BitLocker: faq-and-troubleshooting/common-questions/decryptying-using-bitlocker.md
      - Bluetooth compatibility: faq-and-troubleshooting/common-questions/bluetooth-compatibility.md
      - Microsoft Store compatibility: faq-and-troubleshooting/common-questions/microsoft-store-compatibility.md
      - AME Wizard virus detection: faq-and-troubleshooting/common-questions/ame-wizard-virus-detection.md

#
# Plugins
#
plugins:
  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-search
  - search:
      lang: en
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'


#
# Python Markdown
# https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown
# https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions
#
markdown_extensions:
  # https://squidfunk.github.io/mkdocs-material/reference/admonitions
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.superfences

  # https://squidfunk.github.io/mkdocs-material/reference/annotations
  - abbr
  - attr_list
  - md_in_html

  # https://squidfunk.github.io/mkdocs-material/reference/formatting
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/#inlinehilite
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite

  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/#snippets
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md

  # https://squidfunk.github.io/mkdocs-material/reference/content-tabs
  - pymdownx.tabbed:
      alternate_style: true

  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/#superfences
  - pymdownx.superfences

  # https://squidfunk.github.io/mkdocs-material/reference/icons-emojis
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons

  # https://squidfunk.github.io/mkdocs-material/reference/lists
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
